{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@src": "./src",
        "@components": "./src/components",
        "@core": "./src/core",
        "@api": "./src/core/api",
        "@config": "./src/core/config",
        "@service": "./src/core/service",
        "@util": "./src/core/util",
        "@hooks": "./src/hooks",
        "@models": "./src/models",
        "@pages": "./src/pages",
        "@store": "./src/store",
        "@styles": "./src/styles"
      }
    }]
  ]
}